<div class = "container-fluid">
    <div class="row">
        <div class="col-md-9 .col-md-push-3">
            <div id ="map">
            </div> 
            <div class="row">
              <div class="col-sm-6">
                  <button ng-click ="clearMap()"class="btn btn-primary  btn-block">Clear Entire Map</button> </div>
              <div class="col-sm-6"> 
                  <button ng-click ="clearLastMarker()"class="btn btn-primary  btn-block">Clear Last Marker</button> </div>
            </div>          
         </div>
          <div class ="col-md-3 .col-md-pull-9">
            <form class ="form-horizontal">
                <h3>Add Route</h3>
                <div class = "form-group">
                    <label for= "route-name" class = "col-lg-cotrol-label">Route Name:</label>
                    <div class ="col-lg-10">
                      <input type="text" class ="form-control" id="route-name"placeholder="Route Name...">
                    </div>
                </div> 
                <div class = "form-group">
                    <label for= "route-begin" class = "col-lg-cotrol-label">Route Beginning:</label>
                    <div class ="col-lg-10">
                      <input type="text" class ="form-control" id="route-begin"placeholder="Route Begins...">
                    </div>
                </div>  
                <div class = "form-group">
                    <label for= "route-end" class = "col-lg-cotrol-label">Route Ending:</label>
                    <div class ="col-lg-10">
                      <input type="text" class ="form-control" id="route-end"placeholder="Route Ending...">
                    </div>
                </div>                
                <div class = "form-group">
                  <label for= "description" class = "col-lg-cotrol-label">Description:</label>
                    <div class ="col-lg-10">
                      <textarea class="form-control" rows ="4" placeholder="Description..."></textarea>
                    </div>
                </div>    
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="routeActiveCheck" ng-init="routeActiveCheck=false"  ng-true-value="true" ng-false-value="false">Make Route Active
                    </label>
                  </div>                  
                </div>
                <div class="form-group">
                   <div class ="col-lg-10">
                      <label id ="routeDistance">Total Distance Km :</label> 
                      <button class = "btn btn-success btn-block">Save New Route</button>
                    </div>  
                </div>  
             </form>
         </div>
    </div>
</div>