<div class ="container" ng-controller="HomeController">
  <div class="jumbotron" style="text-align:center; margin-top:40px">
        <h1>Inner City Helping Homeless</h1>  
        <h2>Homeless Helper</h2> 
        <img href="http://www.innercityhelpinghomeless.ie/" alt="Website Logo" src="img/logoBig.png" />
        <h3>Welcome {{user.firstName}}</h3> 
        <h5>Check out the user manual in the user admin section! if required!</h5>
  </div> <!--END jumbotron-->    
</div><!--END container--> 

