<div class ="container">
  <div class="jumbotron">
    <h3>List Routes</h3>     
    <div class="table-responsive">
      <table class="table table-striped table-bordered"  id="searchTextResults">
          <tr>
          <div class ="form-group">
            <hr>
            <label for="routesFilter" class="col-sm-4 control-label">Route Search:</label> 
            <div class="col-sm-6"> 
              <input placeholder="Route Search.." style="margin:auto" type="text" ng-model="searchText" class="form-control">     
            </div>  
          </div>            
          <div class ="form-group">
            <label for="activeRoutesFilter" class="col-sm-4 control-label">Only Active Routes:</label>  
            <div class="col-sm-6">              
              <input type="checkbox" data-ng-model='search.isActive' data-ng-true-value='true' data-ng-false-value='false' />   
              <hr>
            </div>             
          </div>        
              <th><a href="" ng-click="predicate='-name'; reverse=!reverse">Name</a></th>
              <th><a href="" ng-click="predicate='-routeBeginning'; reverse=!reverse">Begins</a></th>
              <th><a href="" ng-click="predicate='-routeEnding'; reverse=!reverse">Ends</a></th>
              <th>Distance</th>
              <th>Description</th>      
              <th><a href="" ng-click="predicate='-isActive'; reverse=!reverse">Active</a></th>
              <th><a href="" ng-click="predicate='-dateCreated'; reverse=!reverse">Creation Date</a></th>
          
          <tr ng-repeat="route in routes | filter:searchText |filter:search.isActive| orderBy:predicate:reverse">
              <td>{{route.name}}</td>
              <td>{{route.routeBeginning}}</td>      
              <td>{{route.routeEnding}}</td>
              <td>{{route.distance}}</td>
              <td>{{route.description}}</td>
              <td>{{route.isActive}}</td>
              <td>{{route.dateCreated | date:'dd/MM/yyyy'}}</td>
          </tr>
     </table>
  </div>    
</div>
