    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>

                <span id="reauth-email" class="reauth-email"></span>
                <input  ng-model="user.username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" ng-model="user.password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button ng-click="login(user)" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
