<div class ="container">
  <div class="jumbotron">
    <h2>User Manual</h2> 
    <h4>The following outlines each component of the application</h4>
    <hr>

    <h4>Add Route</h4>
    <h5>To add a route to the system follow the steps below.</h5>
    <ol>
      <li>Navigate to the Add route page. The link is located in the dropdown navigation panel under 'Route Admin'</li>
      <li>Draw the desired route by clicking on the google map. Each click will place a marker on the map</li>  
      <li>The buttons below the map can can remove markers if necessary</li>
      <li>The 'Clear Entrie Map' button removes the entire route added</li>
      <li>The 'Clear Last Marker' button removes las section of the route added</li>
      <li>Add the relevant route details to the form located beside the map i.e. clicking checkbox to make active </li>
      <li>Finally click the 'Save New Route' button to save the route to the system</li>
    </ol>
    <hr>

    <h4>Edit Route</h4>
    <h5>To edit an existing route on the system follow the steps below.</h5>
    <ol>
      <li>Navigate to the Edit route page. The link is located in the dropdown navigation panel under 'Route Admin'</li>
      <li>Each route can be searched using the search box at the top of the page</li>  
      <li>There is also a check box to filter between active and inactive routes</li>
      <li>A result dropdown list of routes will appear when text is entered into the search box</li>
      <li>Click on the desired route in the dropdown menu</li>
      <li>The route form below will then be populated with the routes details</li>
      <li>Edit route details on the form where required</li>
      <li>Finally click the 'Edit New Route' button to update the route on the system</li>
    </ol>
    <hr>
    
    <h4>List Routes</h4>
    <h5>To list all routes on the system follow the steps below.</h5>
    <ol>
      <li>Navigate to the List route page. The link is located in the dropdown navigation panel under 'Route Admin'</li>
      <li>All the existing route will display in a table format</li>  
      <li>The entire routes table can be filtered by using the search box at the top of the page</li>
      <li>As text is entered into the search box the table will update, diplaying results accordingly</li>
    </ol>
    <hr>    
    
    <h4>View Drops</h4>
    <h5>To view all drops for routes on the system follow the steps below.</h5>
    <ol>
      <li>Navigate to the View Drops page. The link is located in the dropdown navigation panel under 'Route Admin'</li>
      <li>A google map will display on this page</li>  
      <li>A form will also display beside the map with a dropdown list for all active routes and datepickers to query the drops</li>
      <li>Select a route you wish to view by selecting from the dropdown menu</li>
      <li>Select dates from the datepickers to filter results between these dates </li>
      <li>Click the submit button to get the results</li>
      <li>The selected route/routes will appear on the map along with drops associated with the route matching the dates selected</li>
    </ol>
    <hr>   
    
    <h4>View Drop Details</h4>
    <h5>To view more details on the drops carried out over a period of time follow the steps below.</h5>
    <ol>
      <li>Navigate to the View Drop Details page. The link is located in the dropdown navigation panel under 'Route Admin'</li>
      <li>Two datepickers and a dropdown list will appear to select from the currently active routes</li>  
      <li>Select a route you wish to view by selecting from the dropdown menu</li>
      <li>Select dates from the datepickers to filter results between these dates </li>
      <li>Click the submit button to get the results</li>
      <li>A table will be populated with a breakdown of each route selected, including total individuals met, fed, and clothed</li>
    </ol>
    <hr>
    
    <h4>View Order Details</h4>
    <h5>To view any orders received form individuals on all routes</h5>
    <ol>
      <li>Navigate to the View Order Details page. The link is located in the dropdown navigation panel under 'Route Admin'</li>
      <li>Two datepickers appear to select date criteria</li> 
      <li>Select dates from the datepickers to filter results between these dates </li>
      <li>Click the submit button to get the results</li>
      <li>A table will be populated with all orders received, which volunteer received the order, what route and other relevant details</li>
    </ol>
    <hr> 
    
    <h4>Add User</h4>
    <h5>To add a user to the system follow the steps below.</h5>
    <ol>
      <li>Navigate to the addEdit user page. The link is located in the dropdown navigation panel under 'User Admin'</li>
      <li>Add the relevant user details to the add user form</li>
      <li>Finally click the 'Add User' button to save the user on the system</li>
    </ol>
    <hr>    
    
    <h4>Edit User</h4>
    <h5>To edit an existing user on the system follow the steps below.</h5>
    <ol>
      <li>Navigate to the addEdit user page. The link is located in the dropdown navigation panel under 'User Admin'</li>
      <li>Each user can be searched using the search box at the top of the page</li>  
      <li>A result dropdown list of users will appear when text is entered into the search box</li>
      <li>Click on the desired user in the dropdown menu</li>
      <li>The user form below will then be populated with the users details</li>
      <li>Edit the user details on the form where required</li>
      <li>Finally click the 'Edit User' button to update the user on the system</li>
    </ol>
    <hr>    
    
    <h4>List Users</h4>
    <h5>To list all users on the system follow the steps below.</h5>
    <ol>
      <li>Navigate to the List users page. The link is located in the dropdown navigation panel under 'User Admin'</li>
      <li>All the existing users will display in a table format</li>  
      <li>The entire users table can be filtered by using the search box at the top of the page</li>
      <li>As text is entered into the search box the table will update, diplaying results accordingly</li>
    </ol>
    <hr>       
  </div><!--END Jumbotron-->     
</div><!--END container-->