<div class = "container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div id ="dropsMap"></div> 
         </div>
        <div class ="col-md-3">
            <h3>View Drops</h3>            
            <div ng-controller="DatepickerCtrl">
                <div class="row">
                    <label>From:</label>
                    <div class="col-md-12">
                        <p class="input-group">
                          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="fromDate" is-open="openedFrom" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openFrom($event)">
                              <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                          </span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <label>To:</label>
                    <div class="col-md-12">
                        <p class="input-group">
                          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="toDate" is-open="openedTo" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openTo($event)">
                              <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                          </span>
                        </p>
                    </div>
                    <button type="button" class = "btn btn-lg btn-primary center-block btn-block btn-signin" ng-click="submitQuery()" id="queryDropsBtn">Find Drops</button>
                </div>              
            </div>
       </div>
  </div>
</div>